@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSans';
  src: url('./assets/fonts/Estedad-Regular.ttf') format('truetype');
}

* {
  font-family: 'IRANSans', roboto;
}